<div class="container add-user-form">
    <form action="/senha-alterar" method="POST" class="flex-column">
        <h2>Alterar Senha:</h2>
        <label for="senhaAtual">Senha Atual:</label>
        <input name="senhaAtual" type="password" placeholder="senha" required>
        <label for="senhaNova">Digite a nova senha:</label>
        <input name="senhaNova" type="password" placeholder="confirme a senha" required>
        <label for="senhaNovaVerify">Repita a nova senha:</label>
        <input name="senhaNovaVerify" type="password" placeholder="confirme a senha" required> 
        <input type="submit" value="Alterar">
    </form>
</div>