<div class="container add-user-form ">
    <form action="/login" method="POST" class="flex-column">
        <input name="login" type="text" placeholder="login" required>
        <input name="senha" type="password" placeholder="senha" required>
        <input type="submit" value="Logar">
    </form>
</div>